<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Safe Place</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "users/style", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body id="body" class="d-flex flex-column min-vh-100" data-controller="frame-moving">
    <%= render "shared/flash"%>
    <%= yield %>
    <%= render "layouts/users_layout/partials/footer"%>
  </body>
</html>
