<%= form_with url: "", data: { turbo_frame: "", controller: "search-form", search_form_target: "form" }, method: :get, class: "dropdown-menu p-4", id: "search_form" do |form| %>
  <div class="mb-3">
    <%= form.text_field :q, class: "form-control" %>
  </div>
  <div class="mb-3">
    <div class="form-check">
      <%= form.radio_button :path, users_confessions_path, class: "form-check-input", type: "radio", data: { search_form_target: "option" } %>
      <%= form.label :path_usersconfessions, "Search confessions", class: "form-check-label" %>
    </div>
    <div class="form-check">
      <%= form.radio_button :path, users_album_homepages_path(search: "album"), class: "form-check-input", type: "radio", data: { search_form_target: "option" } %>
      <%= form.label :path_usersalbum_homepages, "Search podcast albums", class: "form-check-label" %>
    </div>
    <div class="form-check">
      <%= form.radio_button :path, users_album_homepages_path(search: "podcast"), class: "form-check-input", type: "radio", data: { search_form_target: "option" } %>
      <%= form.label :path_userspodcasts, "Search podcasts", class: "form-check-label" %>
    </div>
  </div>
  <div class="mb-3">
    <%= form.submit "Search", class: "btn btn-light custom_submit", data: { search_form_target: "submit" } %>
  </div>
<% end %>
