<div class="container-fluid">
  <div class="row justify-content-center custom_user_form_container">
    <h2 class="text-center align-self-end mb-4 text-color-green fw-bold">Resend confirmation instructions</h2>
    <div class="col-md-4">
      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: 'needs-validation' }) do |f| %>
        <% flash.each do |type, message| %>
          <div class="alert alert-danger text-center mt-4 alert-<%= type %>">
            <%= message %>
          </div>
        <% end %>

        <div class="mb-3">
          <%= f.label :email, class: 'form-label text-color-green fw-bold fs-4' %>
          <%= f.email_field :email, class: 'form-control input-login', autofocus: true, required: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
        </div>

        <div class="text-center mb-3">
          <%= f.submit "Resend confirmation instructions", class: 'btn btn-success btn-lg w-100 h-100 btn-submit fw-bold' %>
        </div>
      <% end %>

      <%= render "devise/users/shared/links" %>
    </div>
  </div>
</div>
