<% @rooms.each do |room| %>
<%= link_to users_room_path(room), data: {turbo_frame: "show_message"}, class: 'btn button_show_room ' do %>
  <div class="d-flex justify-content-between">
    <div class="d-flex justify-content-start">
      <div>
        <% if room.user&.user_info&.avatar? %>
        <%= image_tag(room.user.user_info.avatar_url, class:"counselor_avt")%>
        <% else %>
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp" alt="avatar 1" class="counselor_avt">
        <% end %>
      </div>
      <div class="d-flex flex-column align-items-start ms-3">
        <div>
          <%= room.user&.user_name %>
        </div>
        <div>
            <%= room.conversations&.last&.content%>
        </div>
      </div>
    </div>
    <div>
        <div class="d-flex flex-column align-items-end">
          <div><%= room.conversations&.last&.created_at&.strftime("%H:%M")%></div>
          <i class="fa-solid fa-ellipsis"></i>
        </div>
    </div>
  </div>
<% end %>
<hr>
<% end %>