<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Safe Place - Admin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "admins/style", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body id="body" class="d-flex flex-column min-vh-100 ">
    <%= render "shared/flash"%>
    <div class="d-flex color_admins" id="wrapper">
      <%= render 'layouts/admins_layout/partials/leftmenu' %>
      <!-- Page content wrapper-->
      <div id="page-content-wrapper" class="page_content">
        <!-- Top navigation-->
        <%= render 'layouts/admins_layout/partials/header' %>
        <!-- Page content-->
        <div class="container-fluid" style="min-height: 100vh">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>

