<div class="card w-80 mb-3 mt-3">
  <div class="card-body">
    <h5 class="card-title">Search Counselors</h5>
    <%= render 'admins/partials/search_user_form', q: @q, path: admins_counselors_path %>
  </div>
</div>
<div class="profile-card">
  <div class="card w-80">
    <div class="card-body">
      <div class="card-title card-title-user d-flex justify-content-between align-items-center ">
        <h1>List Counselors</h1>
        <button class="button_hidden" data-bs-toggle="modal" data-bs-target="#exampleModal1">
          <%= link_to "+ New Counselor", new_admins_counselor_path(page: params[:page]), data:{turbo_frame: 'modal_for_counselor'},class: "btn btn-lg text-white button_edit_user"%>
        </button>
      </div>
      <ul class="nav nav-tabs nav-fill">
        <li class="nav-item">
          <%= link_to 'Users', admins_users_path, data:{ turbo_frame: "table-user" }, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Counselors', admins_counselors_path, data:{ turbo_frame: "table_user" }, class: "nav-link active" %>
        </li>
      </ul>
      <p class="card-text">
        <%= turbo_frame_tag "table_user" do %>
          <%= render "admins/counselors/partials/counselor_table", counselors: @counselors %>
        <% end %>
      </p>
    </div>
  </div>
</div>
<%= render 'admins/counselors/partials/modal' %>
