<div class="container-fluid">
  <div class="row justify-content-center" style="height: 100vh">
    <h1 class="text-center align-self-end mb-4 text-color-green fw-bold">Sign up to SafePlace Vietnam</h1>
    <div class="col-md-4">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: 'form-xs', data: { turbo: false }) do |f| %>
        <% if alert.present? %>
          <div class="alert alert-danger mt-4">
            <% alert.each do |message| %>
              <%= message %><br />
            <% end %>
          </div>
        <% end %>
        <div class="mb-3">
          <%= f.label :email, "What's your email?", class: "form-label text-color-green fw-bold fs-4" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control input-signup', placeholder: 'Enter your email' %>
        </div>
        <%= f.fields_for :user_info do |info| %>
        <div class="mb-3">
          <%= info.label :address, "Where are you?", class: "form-label text-color-green fw-bold fs-4" %><br />
          <%= info.text_field :address, autofocus: true, autocomplete: "email", class: 'form-control input-signup', placeholder: 'Enter your address' %>
        </div>
        <div class="mb-3">
          <%= info.label :profile_name, "What's profile name?", class: "form-label text-color-green fw-bold fs-4" %><br />
          <%= info.text_field :profile_name, autofocus: true, class: 'form-control input-signup', placeholder: 'Enter your profile name' %>
        </div>
        <div class="mb-3">
          <%= info.label :date_of_birth, "What's your birthday?", class: "form-label text-color-green fw-bold fs-4" %><br />
          <%= info.date_field :date_of_birth, autofocus: true, autocomplete: "email", class: 'form-control input-signup', placeholder: 'Enter your date of birth' %>
        </div>
        <div class="mb-3">
          <%= info.label :gender, "What's your gender?", class: "form-label text-color-green fw-bold fs-4" %><br />
          <div class="d-flex justify-content-between">
          <% UserInfo.genders.keys.each do |g| %>
            <div>
              <%= info.radio_button :gender, g, class: "specifyColor" %>
              <%= info.label g.to_sym, class: 'form-label text-color-green fw-bold fs-5' %>
            </div>
          <% end %>
          </div>
        </div>
        <% end %>
        <div class="mb-3">
          <%= f.label :password, "Create a password", class: "form-label text-color-green fw-bold fs-4" %>
          <% if @minimum_password_length %>
            <em class="text-color-green fw-bold fs-4">(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class: 'form-control input-signup', placeholder: 'Create a password' %>
        </div>
        <div class="mb-3">
          <%= f.label :user_name, "What's your username?", class: "form-label text-color-green fw-bold fs-4" %><br />
          <%= f.text_field :user_name, autocomplete: "user_name", class: 'form-control input-signup', placeholder: 'Enter your username' %>
        </div>
        <div class="text-center mb-3">
          <%= f.submit "Sign up", class: 'btn btn-success btn-lg w-100 h-100 btn-submit fw-bold' %>
          <p class="text-center text-color-green fw-medium">Have an account? <%= link_to 'Log in', new_session_path(resource_name), class: "text-color-green fw-bold" %></p>
        </div>
    <% end %>
    </div>
  </div>
</div>

<style>
    .specifyColor {
        accent-color: #1F7564;
    }
</style>
